<?xml version="1.0"?>

<connectionStrings>
  <add name="DefaultConnection" 
       connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-TestForm1-aaddec4a-e0d6-48e3-94ce-22960eb19f5f;AttachDbFilename=|DataDirectory|\aspnet-TestForm1-aaddec4a-e0d6-48e3-94ce-22960eb19f5f.mdf;Integrated Security=SSPI" 
       providerName="System.Data.SqlClient" />
  <add name="EatIn" connectionString="Data Source=.; Initial Catalog=eRestaurant; Integrated Security=SSPI" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>